body{
  width: 80%;
  margin: auto;
}

header{
  display: flex;
  height: 70px;
  margin: auto;
}

header img{
  height: 100%;
  width: auto;
}

h1{
  margin: auto;
}

#prova {
  width: 100px;
  height: 100px;
}

#prova img{
  height: 0;
  transition: height 1s;
}

#prova:hover span{
  display: none;
}

#prova:hover img{
  height: 100%;
}
